[package]
name = "object-storage-maintenance"
version = "0.2.27"
edition = "2024"

[dependencies]
async-compression = { version = "0.4.39", features = ["tokio", "xz"] }
aws-sdk-s3 = { version = "1.122.0", features = ["behavior-version-latest", "rt-tokio", "http-1x", "rustls"] }
aws-types = "1.3.12"
chrono = "0.4.43"
clap = { version = "4.5.57", features = ["derive"] }
futures = "0.3.31"
mimalloc = { version = "0.1.48", features = ["extended"] }
tokio = { version = "1.49.0", features = ["rt", "rt-multi-thread", "macros"] }
tokio-tar = "0.3.1"

[profile.release]
opt-level = 3
debug = false
strip = true
lto = "fat"
codegen-units = 1
