[package]
name = "object-storage-maintenance"
version = "0.2.20"
edition = "2024"

[dependencies]
async-compression = { version = "0.4.33", features = ["tokio", "xz"] }
aws-sdk-s3 = { version = "1.114.0", features = ["behavior-version-latest", "rt-tokio", "http-1x", "rustls"] }
aws-types = "1.3.10"
chrono = "0.4.42"
clap = { version = "4.5.52", features = ["derive"] }
futures = "0.3.31"
tokio = { version = "1.48.0", features = ["rt", "rt-multi-thread", "macros"] }
tokio-tar = "0.3.1"

[profile.release]
opt-level = "z"
debug = false
strip = true
lto = true
codegen-units = 1
